REMNAWAVE_URL=...
REMNAWAVE_TOKEN=...
REMNAWAVE_DEFAULT_INTERNAL_SQUAD_UUID=...
SUBSCRIPTION_RESET_STRATEGY=...

SUBSCRIPTION_EXPIRE_DAYS=...
TRAFFIC_LIMIT_GB=...

TG_BOT_TOKEN=...
TG_CHAT_ID=...
TG_ADMIN_IDS=...
TG_POLL_TIMEOUT_SECONDS=...

VPN_CLIENT_DOWNLOAD_URL=...
DB_PATH=./data/remna-bot.db