REMNAWAVE_URL=...
REMNAWAVE_TOKEN=...
REMNAWAVE_DEFAULT_INTERNAL_SQUAD_UUID=...

SUBSCRIPTION_EXPIRE_DAYS=...
TRAFFIC_LIMIT_GB=...

TG_BOT_TOKEN=...
TG_CHAT_ID=...
TG_ADMIN_IDS=...
TG_POLL_TIMEOUT_SECONDS=...

DB_PATH=./data/remna-bot.db
